body > header > nav > figure {
    float: left;
    margin-right: .8em;
    margin-top: .8em;
}

body > header > nav > h1 {
    font-size: 3em;
    padding-top: .5em;
}

 body > main > section > figure > img {
    float: left;
    height: 350px;
    padding: 1em;
    width: 30%;
}
